﻿@{ ViewData["Title"] = "Площадь боковой поверхности правильной усеченной пирамиды"; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>square</title>
</head>
<body>
    <h1>Площадь боковой поверхности правильной усеченной пирамиды</h1>
    <div>
        <figure>
            <img src="https://cdn.fxyz.ru/img/formulas/pyramid_rt_surface.png" alt="Результат" />
        </figure>
        <h1>S=(m/2)p+p</h1>
        <form action="" method="post">
            <p>Периметр верхнего основания пирамиды (Р)</p>
            <input type="number" name="P" placeholder="Длина радиуса (P)" value="" />
            <br />
            <p>Периметр нижнего основания пирамиды (R)</p>
            <input type="number" name="R" placeholder="Длина дуги (R)" value="" />
            <br />
            <p>Апофема (h)</p>
            <input type="number" name="h" placeholder="Длина радиуса (h)" value="" />
            <br />
            <button id="button" class="btn-danger">Рассчитать</button>
            <br />

            <p>
                <h3>
                    Результат: @ViewBag.Result
                </h3>
            </p>
        </form>
    </div>

    <style>
        image {
            width: 452px;
            height: 236px;
            position: relative;
            top: 20px;
            bottom: 20px;
            margin-bottom: 10px;
        }

        * {
            text-align: center;
        }

        #button {
            margin-top: 10px;
        }
    </style>
</body>
</html>